* {
    font-family: Palatino, serif;
    color: white;
    text-align: center;
}

a:hover {
    color: #ebd587;
}

body {
    background-color: skyblue;
}
.top-accent {
    background-color: white;
    height: 60vh;
    width: 70vw;
    position: absolute;
    animation:  fadeInLeft 2s;
}

.landing {
    width: 100%;
    height: 100%;
}
.welcome {
    background-color: #EBA487;
    height: 40vh;
    width: 80vw;
    position: relative;
    top:30vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vmin;
    text-align: center;
    animation: fadeInRight 3s;
    
}

#Name {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
}

#Segueway {
    margin-bottom: 1.5%;
    padding: 0%;
    font-size: 3.5vmin;
    animation: blinker3 1s ease-in-out infinite alternate;  
}

.gallery:hover {
    color: #ebd587;
}


.navigation a{
    margin: 0%;
    padding: 0% 2%;
    font-size: 3vmin;

}

#About-Me {
    margin-top: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#aboutPic {
    /*height: 65vmin;
    width: 90vmin;
    min-height: 200px;
    min-width: 277px; 
    box-shadow: */
    width: 37vw;
    min-width: 540px;
    min-height: 750px;
    height: 55.5vw;
    margin: 5.5vmax;
    box-shadow:
    2vmin -2vmin white;

}
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40vw;
    min-width: 700px;
    margin-top: 2vmax;
}

.left-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vmin, 4vmin, 0, 4vmin;

}
.description {
    word-spacing: .1vmin;
    margin-top: 40px;
    line-height: 2.2vmax;
    font-size: 1.6vmax;
    font-style: oblique;
}
.about-me-text {
    margin: 0%;
    padding: .7vh;
    font-size: 5vmin;
    background-color: #c187eb;
    box-shadow: -1vmin 1vmin #ebd587;
}
.about-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
}

.resume {
    margin: 0vmin 1vmin 2vmin 1vmin;
}

.icon {
    height: 3vmin;
    width: 3vmin;
    filter: invert(100%);
    margin: 0vmin 1vmin 2vmin 1vmin;
}

.icon:hover {
    filter: invert(99%) sepia(21%) saturate(2800%) hue-rotate(322deg) brightness(94%) contrast(95%);
}

.github {
    padding-top: .5vmin;
}

.right-about {
    position: relative;
    width: 30vw;
    background-color: #EBA487;
    min-width: 100%;
    padding: 2vmin;
    margin: 2vmax;
    font-size: 1.4vmax;
    max-height: 80vh;
}

.mood-content {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;

}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
}

.reading {
    color:#a487eb;
    font-size: .9vmax;
    padding: 4px;
}


.spotify {
    padding: 0;
    margin: 1vmin;
    max-height: 10vmin;
    font-size: 2vmax;
}
#Technical-Projects {
    margin-top: 30vh;
}
h3 {
    padding: 0%;
    margin: 0%;
}

.music {
    min-width: 400px;
}


@keyframes blinker3 { to { opacity: 0; } }

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

 
 

/*
.top-accent {
    height: 60vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    position: absolute;
    display: block;
    top:0;
    left:0;

}

.welcome {
    height: 70vh;
    width: 60vw;
    background-color: #EBA487;
    color: white;
    display: inline-block;
    position: relative;
    top:20vh;
    left:20vw;

}

#About-Me {
    margin-top: 100vh;
}

#Name {
    font-size: 3vh;
}
*/