* {
    font-family: Palatino, serif;
    color: white;
    text-align: center;
}

body {
    background-color: skyblue;
}
.top-accent {
    background-color: white;
    height: 60vh;
    width: 70vw;
    position: absolute;
    animation:  fadeInLeft 2s;
}

.landing {
    width: 100%;
    height: 100%;
}
.welcome {
    background-color: #EBA487;
    height: 40vh;
    width: 80vw;
    position: relative;
    top:30vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vmin;
    text-align: center;
    animation: fadeInRight 3s;
    
}

#Name {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
}

#Segueway {
    margin-bottom: 1.5%;
    padding: 0%;
    font-size: 3.5vmin;
    animation: blinker3 1s ease-in-out infinite alternate;  
}



.navigation a{
    margin: 0%;
    padding: 0% 2%;
    font-size: 3vmin;

}

#About-Me {
    margin-top: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#aboutPic {
    /*height: 65vmin;
    width: 90vmin;
    min-height: 200px;
    min-width: 277px; 
    box-shadow: */
    width: 37vw;
    min-width: 500px;
    min-height: 750px;
    height: 55.5vw;
     box-shadow:
     2vmin -2vmin white;
     margin: 3vmin;

}
.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40vw;
    min-width: 700px;
}

.left-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vmin, 4vmin, 0, 4vmin;

}
.description {
    font-size: 1.54vw;
    line-height: 2vw;
    word-spacing: .1vmin;
    margin: 0%;
    padding: 0% 1vmin;
    margin-top: 1vh;
}
.about-me-text {
    margin: 0%;
    padding: .7vh;
    font-size: 5vmin;
    background-color: #c187eb;
    box-shadow: -1vmin 1vmin #ebd587;
}
.about-links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
}

.resume {
    margin: 0vmin 1vmin 2vmin 1vmin;
}

.icon {
    height: 4vmin;
    width: 4vmin;
    filter: invert(100%);
    margin: 0vmin 1vmin 2vmin 1vmin;
}

.github {
    padding-top: .5vmin;
}

.right-about {
    position: relative;
    width: 30vw;
    background-color: #EBA487;
    min-width: 450px;
    padding: 2vmin;
    margin: 1%;
    margin-top: 3%;
}

.mood-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.currBook {
    height: 20vmin;
    width: 10vmin;
}

.spotify {
    padding: 0;
    margin: 1vmin;
}
#Technical-Projects {
    margin-top: 30vh;
}

@keyframes blinker3 { to { opacity: 0; } }

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 
 @keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 } 

 
 

/*
.top-accent {
    height: 60vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    position: absolute;
    display: block;
    top:0;
    left:0;

}

.welcome {
    height: 70vh;
    width: 60vw;
    background-color: #EBA487;
    color: white;
    display: inline-block;
    position: relative;
    top:20vh;
    left:20vw;

}

#About-Me {
    margin-top: 100vh;
}

#Name {
    font-size: 3vh;
}
*/